<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Flickr Test</title>
        <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">

            <div class="row">
                <form method="post" action="#" id="flickrForm" name="flickrForm">
                    <input type="text" id="searchText" name="searchText" value="<?php echo $searchText;?>"
                        placeholder="Search...">
                    <input type="hidden" id="page" name="page" value="<?php echo $page;?>">
                    <button id="submitForm" type="button" class="btn btn-default">Submit</button>
                </form>
            </div>

            <?php echo $photoTemplate;?>

            <div id="incomingContent"></div>

            <?php $morePhotosRowStyle = '';
            if(count($photos) == 0){
                $morePhotosRowStyle = 'display:none;';
            }?>

            <div class="row" style="<?php echo $morePhotosRowStyle;?>">
                <p><a id="morePhotos" href="#">A nicer way to see more ></a></p>
            </div>

            <div class="row" style="<?php echo $morePhotosRowStyle;?>">
                <p>Normal pagination</p>
                <?php echo $paginator;?>
            </div>
        </div> <!-- /container -->

        <script type="text/javascript" src="/js/libs/jquery-2.0.3.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>

    </body>
</html>


