<?php if ($page != 1):?>
<div class="paginatorLink">
    <a id="prevPage" href="#" class="pageNumberLink" data-page-number="<?php echo $page - 1;?>">< Prev</a>
</div>
<?php endif;?>
<?php for ($i = $minPage; $i <= $maxPage; $i++):?>
    <div class="paginatorLink">
        <a class="pageNumberLink <?php if($i == $page):?>activePage<?php endif;?>" href="#" data-page-number="<?php echo $i;?>"><?php echo $i;?></a>
    </div>
<?php endfor;?>
<?php if ($page != $numPages):?>
<div class="paginatorLink">
    <a id="nextPage" href="#" class="pageNumberLink" data-page-number="<?php echo $page + 1;?>">Next ></a>
</div>
<?php endif;?>