<div class="row imageRow hide">
    <?php if (count($photos) > 0):
        foreach($photos as $k => $p):?>
            <div class="imageBox"><a href="<?php echo ($p->attributes()->url_o) ? $p->attributes()->url_o : $p->attributes()->url_l;?>" target="_blank">
                    <img class="flickrImg" src="<?php echo $p->attributes()->url_t;?>">
                </a></div>
        <?php endforeach;
    elseif(isset($photos)): ?>
        Sorry, there were no results.
    <?php endif;?>
</div>