body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#submitForm {
    margin-bottom: 10px;
}

.paginatorLink {
    float:left; margin-right:20px;
}

.activePage {
    text-decoration: underline;
}

.imageRow {
    width: 600px;
}

.imageBox {
    float: left;
    width: 120px;
    height: 120px;
}